[Unit]
Description=Bastion VPN Router
After=docker.service
Requires=docker.service
PartOf=bastion-vpn@%i.service
Wants=bastion-elb@%i.service

[Service]
User=core
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker stop -t 5 %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull quay.io/opsee/zuul:latest
ExecStart=/usr/bin/docker run --name %p-%i quay.io/opsee/zuul:latest router --subnet 10.0.%i.0/24 --table rtb-76509513
ExecStop=/usr/bin/docker stop -t 5 %p-%i

[X-Fleet]
MachineOf=bastion-vpn@%i.service
