# A great deal of this should be templatized, but expediency demands otherwise.

BatchMode yes
ChallengeResponseAuthentication no
CheckHostIP yes
Compression yes
ConnectionAttempts 5
ConnectTimeout 15
ControlMaster yes
ControlPath /zuul/state/zuul-%h-%p-%r.sock
ControlPersist yes
ExitOnForwardFailure yes
ForwardAgent no
ForwardX11 no
GlobalKnownHostsFile /zuul/state/ssh_known_hosts
HashKnownHosts yes
IdentityFile /zuul/state/id_rsa
KbdInteractiveAuthentication no
LogLevel INFO
PasswordAuthentication no
RequestTTY no
# For now, try to operate without SSH keepalives.
# ServerAliveInterval 30
StrictHostKeyChecking yes
User zuul
UserKnownHostsFile /dev/null
# Can't use VerifyHostKeyDNS as we currently use Route53. If you don't,
# feel free to set this option to yes and be cooler than we are rn.
# VerifyHostKeyDNS no
